body {
    background-color: #1E1E1E;
}

h1 {
    color: #E0E0E0;
    display: flex;
    justify-content: center;
}

.addCurso {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.addCurso input {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #4FC3F7;
}

.addCurso input:focus {
    outline: none;
    color: #E0E0E0;
}

.addCurso button {
    border: 1px solid #4FC3F7;
    background-color: transparent;
    padding: 0.4rem;
    border-radius: 5px;
    color: #E0E0E0;
    font-weight: lighter;
    width: 5rem;
}

.addCurso button:hover {
    cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
  color: #D1D1D6;
  height: 20px;
  vertical-align: middle;
}

th {
  background-color: #2C2C2E;
  color: #D1D1D6;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #E0E0E0;
}

.acoes {
    display: flex;
    gap: 25px;
    flex-direction: row;
}

.acoes button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
